@import "./../node_modules/bulma/css/bulma.css";
@import "./../node_modules/bulma-slider/dist/css/bulma-slider.min.css";
@import "./../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css";
@import "./../node_modules/bulma-divider/dist/css/bulma-divider.min.css";
/* @import "./../node_modules/ionicons/dist/css/ionicons.min.css"; */

.field-label {
    flex-grow: 1.5;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
}

.icon:hover {
    color: red;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a h1:hover{
    color: red;
}
