@import "./../node_modules/bulma/css/bulma.css";
@import "./../node_modules/bulma-slider/dist/css/bulma-slider.min.css";

.field-label {
    flex-grow: 1.5;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
}
