*.pyc
.idea/
*_deprecated*
static/deprecated/
.ipynb_checkpoints/
*.ipynb
*.zip
client/node_modules

token

notes.md


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
