[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gunicorn = "==19.7.1"
ephem = "*"
eventlet = "*"
aiohttp = "*"
python-socketio = "*"

[requires]
python_version = "3.6"
