button{
	text-transform: none;
}

.button-full{
	width:100%;
}

hr{
	padding-top:0px; 
	padding-bottom:0px;
	margin-top: 1px;
	margin-bottom: 12px;
}

.edit-area-full-width{
	height:250px;
	width:100%;
}

.button-bold{
	font-weight: 600;
	color:#FFFFFF;
	font-size: 12px;
	/*background-color:#F03333;*/
	/*background-color:#F47070;*/
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: auto;
    max-height: 60px;
    padding: 4px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

a.no-format {
    text-decoration:none;
    color:#222;
}

a:hover {
    color:#ce0e25;
}

.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-width: 0;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}